# --- Base ---
streamlit
pandas
numpy
pyarrow
requests
openpyxl
pytz
Pillow
supabase
 
# --- Reconhecimento facial ---
tensorflow-cpu==2.21.0
tf-keras==2.21.0
deepface==0.0.100
opencv-python-headless==4.11.0.86
